<app-navbar-client></app-navbar-client>
<div class="container">
    <header class="display-4 text-center mt-2">
        Nutricionistas da GoodFood
    </header>

    <main class="mb-3 mt-3">
        <div class="row justify-content-center">
            <div class="col-4 p-4" style="background-color: #D1E7DD;">
                <div>
                    <p class="display-1 text-center fw-bold p-4">
                        <i class="bi bi-person-circle display-4" *ngIf="clientDiet && clientDiet.nutritionist"></i>
                        <br>
                    </p>
                    <p class="fs-2 text-center">Seu Nutricionista:</p>
                    <div class="display-6 text-center mt-3" *ngIf="clientDiet && clientDiet.nutritionist">
                        <div class="fs-2">{{ clientDiet.nutritionist.name }} </div><!-- Exibir nome do nutricionista -->
                        <button class="btn btn-success" (click)="callNutri(clientDiet.nutritionist.phoneNumber)">
                            <i class="bi bi-whatsapp"></i> {{ clientDiet.nutritionist.phoneNumber | phone }}
                        </button>
                    </div>
                    <div class="text-center fs-5" *ngIf="!clientDiet || !clientDiet.nutritionist">
                        Atualmente você não tem um Nutricionista.
                    </div>
                </div>
            </div>
        </div>
        
        <hr>

        <div>
            <div class="display-6">
                Nutricionistas Disponíveis:
            </div>

            <div class="row" id="nutritionistCards">
                <div class="col-sm-12 col-md-6 col-lg-4 mb-4" *ngFor="let nutritionist of nutritionists">
                  <app-nutritionist-card [nutritionist]="nutritionist" [client]="client"></app-nutritionist-card>
                </div>
            </div>
        </div>

    </main>

</div>

<!-- <ng-template #experienciaModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Experiência</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>Conteúdo da experiência...</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Fechar</button>
    </div>
</ng-template> -->