<div class="card m-auto mt-4 p-3 pt-1" style="width: 18rem;">
    <div class="card-body text-center">
        <i class="bi bi-person-circle fs-1"></i>
        <h3 class="card-title">{{ nutritionist.name }}</h3>
        <p>{{ nutritionist.description }}</p>
        <button class="btn btn-success" (click)="callNutri(nutritionist.phoneNumber)">
            <i class="bi bi-whatsapp"> {{ nutritionist.phoneNumber | phone}}</i>
        </button>
        <div class="mt-2">
            <button type="button" class="btn btn-success">Contratar</button>
        </div>
    </div>
</div>