<!-- <div class="card m-auto mt-4 p-3 pt-1 col-3" style="width: 300px; height: 300px;"> -->
<div class="card m-auto mt-4 p-3 pt-1" style="width: 18rem;">
    <div class="card-body text-center">
        <i class="bi bi-person-circle fs-1"></i>
        <h3 class="card-title">{{ nutritionist.user.name }}</h3>
        <p>{{ nutritionist.user.description }}</p>
        <button class="btn btn-success">
            <i class="bi bi-whatsapp"> {{ nutritionist.user.phoneNumber }}</i>
        </button>
        <div class="mt-2">
            <button type="button" class="btn btn-success">Contratar</button>
        </div>
    </div>
</div>