<app-navbar-client></app-navbar-client>
<div class="container">
    <header class="display-4 text-center">
        Dieta
    </header>

    <div class="row">
        <div class="col-md-10 offset-md-1">
            <form [formGroup]="dietForm" id="formInformacoesDieta">
                <div class="row mb-3 mt-3">
                    <label for="inputDietType" class="col-sm-2 col-form-label">Tipo da Dieta:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="dietType" formControlName="dietType"
                            id="inputDietType" readonly>
                    </div>
                </div>

                <div class="row mb-3 mt-3">
                    <label for="inputStartDate" class="col-sm-2 col-form-label">Data de Início:</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" name="startDate" formControlName="startDate"
                            id="inputStartDate" readonly>
                    </div>

                    <label for="inputEndDate" class="col-sm-2 col-form-label">Data de Fim:</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" name="endDate" formControlName="endDate"
                            id="inputEndDate" readonly>
                    </div>
                </div>

                <div class="row mb-3 mt-3">
                    <label class="col-sm-2 col-form-label">Situação:</label>
                    <div class="col-sm-4">
                        <select class="form-select" name="status" formControlName="status" aria-label="Situação da Dieta">
                            <option value="" selected>Escolha:</option>
                            <option value="IN_PROGRESS">Em Progresso</option>
                            <option value="FINISHED">Terminada</option>
                            <option value="INTERRUPTED">Interrompida</option>
                        </select>
                    </div>

                    <label for="inputTotalMeals" class="col-sm-2 col-form-label">Refeições Diárias:</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" name="totalMeals" formControlName="totalMeals"
                            id="inputTotalMeals" readonly>
                    </div>
                </div>

                <div class="row mb-3 mt-3">
                    <label for="txtAreaObservation" class="col-sm-2 col-form-label">Observação:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="txtAreaObservation" name="observation"
                            formControlName="observation" rows="4" readonly></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-10 offset-md-1">
        <hr>
        <div class="display-6 mt-2 mb-4">
            Refeição Sugerida:
        </div>
        <div id="mealsList">
            <!-- <app-meal-card></app-meal-card> -->
        </div>
    </div>
</div>