<div class="mb-3 mt-3 p-2 border border-2 rounded-2">
  <h2 class="mb-3 mt-3 text-center fs-4">Informações da Refeição</h2>
  <div class="row mb-3 mt-3">
    <span class="col-sm-3 col-form-label">Período da Refeição:</span>
    <div class="col-sm-3">
      <input type="text" class="form-control" [value]="meal.period | period" readonly>
    </div>
    <span class="col-sm-3 col-form-label">Horário da Refeição:</span>
    <div class="col-sm-3">
      <input type="time" class="form-control" [value]="meal.estimatedTime" readonly>
    </div>
  </div>
  <div class="row mb-3 mt-3">
    <span class="col-sm-2 col-form-label">Comentário:</span>
    <div class="col-sm-10">
      <textarea class="form-control" rows="8" readonly>{{meal.comment}}</textarea>
    </div>
  </div>
</div>