<div class="row">
    <div class="mt-5 mb-3 p-3 border border-2 rounded-2 border-success bg-success-subtle">
        <div class="col-md-10 offset-md-1">
            <form [formGroup]="formGroupRealMeal" (ngSubmit)="save()">
                <div class="display-6 text-center">
                    Registro das Refeições
                </div>

                <div *ngIf="formGroupRealMeal.get('id')?.value" class="row mb-3 mt-3">
                    <label for="inputId" class="col-sm-2 col-form-label">ID:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="id" id="inputId" formControlName="id">
                    </div>
                </div>

                <div class="row mb-3 mt-3">
                    <label for="inputDietType" class="col-sm-2 col-form-label">Tipo da Dieta:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" formControlName="dietType" name="dietType" id="inputDietType" [value]="clientByDiet.dietType" readonly>
                    </div>
                </div>

                <div class="row mb-3 mt-3">
                    <label for="inputNameNutritionist" class="col-sm-2 col-form-label">Nutricionista:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" formControlName="nutritionist" name="nutritionist" id="inputNameNutritionist" [value]="clientByDiet.nutritionist.name" readonly>
                    </div>
                </div>

                <div class="row mb-3 mt-3">
                    <label for="inputDateDiet" class="col-sm-2 col-form-label">Data do Registro:</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" formControlName="registerDate" name="registerDate" id="inputDateDiet">
                    </div>

                    <label for="inputTimeRegister" class="col-sm-2 col-form-label">Horário de Registro:</label>
                    <div class="col-sm-4">
                        <input type="time" class="form-control" formControlName="registerTime" name="registerTime" id="inputTimeRegister">
                    </div>
                </div>

                <div class="row mb-3 mt-3">
                    <span class="col-sm-2 col-form-label">Seguiu a Dieta?</span>
                    <div class="col-sm-4" id="selectOptions">
                        <select class="form-select" formControlName="followedDiet" name="followedDiet" (change)="onFollowedDietChange($event)" aria-label="Select Option">
                            <option value="" selected>Escolha:</option>
                            <option value="true">Sim</option>
                            <option value="false">Não</option>
                        </select>
                    </div>

                    <span class="col-sm-2 col-form-label">Período da Refeição:</span>
                    <div class="col-sm-4">
                        <select class="form-select" formControlName="period" name="period" aria-label="Select Period">
                            <option value="" selected>Escolha:</option>
                            <option value="BREAKFAST">Café da Manhã</option>
                            <option value="LUNCH">Almoço</option>
                            <option value="DINNER">Jantar</option>
                            <option value="SNACK">Lanche</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3 mt-3">
                    <label for="txtAreaComment" class="col-sm-2 col-form-label">Comentário:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" formControlName="comment" name="comment" id="txtAreaComment" cols="30" rows="3"></textarea>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-6">
                        <div class="d-grid gap-2">
                            <button class="btn btn-success" type="submit">Registrar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
